<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <ng-template matStepLabel>Productos</ng-template>
        <div *ngIf="(products$ | async) as products">
            <p *ngIf="products.length === 0"> No hay productos </p>
            <div class="row" *ngFor="let product of products">
                <div class="col-xs-12 col-sm-2 cold-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 cold-md-5">
                    <div class="box">
                        {{ product.title }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 cold-md-5">
                    <div class="box">
                        {{ product.price }}
                    </div>
                </div>
            </div>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <form>
            <ng-template matStepLabel>Datos de Envio</ng-template>
            
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Pago</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>