<p>demo works!</p>

<input type="text" [(ngModel)]="title">

<input type="text" [(ngModel)]="power">
{{ power | exponential}}

{{ title }}

<div *ngIf="title === 'Eduard'">
 Este es un Div
</div>

<div *ngIf="title === 'Store'; then store">
    Simple vista
</div>

<ng-template #store>
    Mostrando contenido
</ng-template>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Eduard'">This is Eduard</p>
    <p *ngSwitchCase="'Clark'">This is Clark</p>
    <p *ngSwitchCase="'Bruce'">This is Bruce</p>
    <p *ngSwitchCase="'Diana'">This is Diana</p>
    <p *ngSwitchDefault>No match</p>
</div>

<button (click)=addItem()>Add item</button>

<ul>
    <li *ngIf="items.length === 0">La Lista esta vacia</li>
    <li *ngFor="let name of items; index as i">
       {{name}} - Posicion: {{i}}
       <button (click)="deleteItem(i)">Delete me</button>
    </li>
</ul>

<ul>
    <li *ngIf="items.length === 0">La Lista esta vacia</li>
    <li *ngFor="let name of fruits; index as i">
       {{name}}
    </li>
</ul>
