<div class="align">
    <div class="login">

        <header class="login__header">
            <h2>Login</h2>
        </header>

        <form [formGroup]="loginForm" class="login__form" (ngSubmit)="login($event)">

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>E-mail address</mat-label>
                    <input id="email" type="email" matInput formControlName="email" placeholder="mail@address.com">
                    <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input id="password" type="password" matInput formControlName="password" placeholder="password">
                    <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Login</button>
            </div>

        </form>

    </div>

</div>