   /* ---------- GENERAL ---------- */
  * {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  }
  
  body {
    background-color: #c0c0c0;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
  }
  
  h2 {
    font-size: 1.75rem;
  }
  
  
  svg {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  /* ---------- ALIGN ---------- */
  .align {
    display: grid;
    place-items: center;
  }
  
  
  /* ---------- LOGIN ---------- */
  .login {
    width: 400px;
  }
  
  .login__header {
    background-color: #f95252;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    color: #fff;
    padding: 1.25em 1.625em;
  }
  
  .login__header :first-child {
    margin-top: 0;
  }
  
  .login__header :last-child {
    margin-bottom: 0;
  }
  
  .login h2 .icon {
    margin-right: 14px;
  }
  
  .login__form {
    background-color: #fff;
    border-bottom-left-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
    display: grid;
    gap: 0.875em;
    padding: 1.25em 1.625em;
  }
  
  .login input {
    border-radius: 0.1875em;
  }
  