<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Crear Producto</mat-card-title>
        <mat-card-subtitle>Store</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="productForm" (ngSubmit)="saveProduct($event)">

        <!-- Id -->
        <div class="row">
            <div class="col-md">
                <mat-form-field appearance="outline">
                    <mat-label>Id</mat-label>
                    <input type="text" matInput formControlName="id">
                    <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <!-- Title -->
        <div class="row">
            <div class="col-md">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input type="text" matInput formControlName="title">
                    <mat-hint>Errors appear instantly!</mat-hint>
                </mat-form-field>
            </div>
        </div>

        <!-- Price -->
        <div class="row">
            <div class="col-md">
                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input type="text" #price matInput formControlName="price">
                    <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="priceField.hasError('required')">
                        Price is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="productForm.get('price').hasError('price_invalid')">
                        Price is <strong>invalid</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <!-- Description -->
        <div class="row">
            <div class="col-md">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description" rows="5"></textarea>
                    <mat-hint>Errors appear instantly!</mat-hint>        
                </mat-form-field>
            </div>
        </div>

        <!-- Send button -->
        <mat-card-actions>
            <button mat-raised-button color="accent" type="submit" [disabled]="productForm.invalid">Crear</button>   
        </mat-card-actions>
    </form>
    </mat-card-content>
</mat-card>