<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{product.title | uppercase}}</mat-card-title>
      <mat-card-subtitle>{{product.price |currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img mat-card-image [src]="product.image" [alt]="product.title">
    </div>
    <mat-card-content>
      <p>
        {{product.description | slice:0:10}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="addCart()" color="warn">Add to Cart</button>   
      <button mat-raised-button [routerLink]="['/products', product.id]" color="primary">View Detail</button>
    </mat-card-actions>
</mat-card>
  

<!-- <h3 appHighlight>{{product.title | uppercase}}</h3>
<img [src]="product.image" [alt]="product.title"> 
<strong>{{product.price |currency}}</strong>
<p>{{product.description | slice:0:10}}</p>
<p>{{today | date:'medium'}}</p>
<button mat-raised-button color="primary" (click)="addCart()">Add to Cart</button>
<a [routerLink]="['/products', product.id]">Ver detalle</a> -->