<p>
    <mat-toolbar>        
        <span>My Angular App</span>
        <span class="example-spacer"></span>
        <img class="ang-logo" src="https://material.angular.io/assets/img/homepage/angular-logo.svg">
        <button mat-icon-button class="material-icons" aria-label="heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="material-icons" aria-label="share icon">
            <mat-icon>share</mat-icon>
        </button>
        <span>Powered by Eduard Correa 2021</span>
    </mat-toolbar>
</p>
