/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: auto;
}

.product-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
