/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: auto;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // nos hará breakpoints cada 300px
}
  

@media(min-width:0px){
    .product-grid{
        background-color: pink;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width:576px){
    .product-grid{
        background-color: yellow;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width:768px){
    .product-grid{
        background-color: blue;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width:992px){    
    .product-grid{
        background-color: gray;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(mid-width:1200px){
    .product-grid{
        background-color: green;
    }
}